html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

*,
body,
*::after, *::before{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

body{
    background-color: #C4C4C4;
}

a{
    text-decoration: none;
    color: #000;
}
ul{
    padding: 0;
}

.content{
    margin: 0 auto;
    max-width: 968px;
    padding: 30px 15px;
}

.menu{
    text-align: center;
    padding: 10px 0px;
}

.menu_link{
    text-decoration: none;
    color: #000;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    transition: .3s;
    & + &{
        margin-left: 15px;
    }
    &::before{
        position: absolute;
        content: '';
        height: 2px;
        width: 0;
        background-color: #000;
        bottom: 0;
        left: 0;
        transition: .3s;
    }
    &:hover{
        letter-spacing: 1px;
        &::before{
            width: 100%;
        }
    }
}

.btn{
    cursor: pointer;
    width: 130px;
    height: 100%;
    font-size: 16px;
    line-height: 18px;
    background-color: #666666;
    color: #fff;
    padding: 10px 15px;
    border: none;
    transition: .3s;
    &:hover{
        background-color: #4F4E4EFF;
    }
}

.text_18{
    font-size: 18px;
    line-height: 21px;
}
.text_12{
    font-size: 12px;
    line-height: 14px;
}
.text_16{
    font-size: 16px;
    line-height: 19px;
}
