@import 'global';

/* INFO page start */

.first-exercise{
    position: relative;
    &::before{
        position: absolute;
        content: '';
        width: 0;
        height: 100%;
        background: repeating-linear-gradient(to right, red 10px, blue 10px, red 50px);
        z-index: 1;
        transition: .5s;
    }
    &.loading{
        &::before{
            width: 100%;
            transition: .5s;
        }
    }
}

.block{
    padding: 10px;
    background-color: #DAC1AE;
    box-shadow: 0px 0px 10px 1px rgba(173, 169, 165, 0.5);
    border-radius: 10px;
    display: inline-block;
    &.temperature{
        white-space: nowrap;
        max-width: 230px;
        width: 100%;
        padding: 20px 27px 13px;
        border-radius: 23px;
    }
    &.btn-refresh{
        cursor: pointer;
        position: absolute;
        content: '';
        top: 0;
        right: 0;
    }
    &.currency{
        max-width: 148px;
        width: 100%;
        padding: 7px 7px 5px;
        text-align: center;
    }

    .currency_info{
        padding: 15px 0;
    }
}

.block_line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    & + & {
        margin-top: 5px;
    }
}

.currency_wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    li{
        list-style: none;
    }
}

/* INFO page end */

/* NEWS page start */

.news-search{
    height: 40px;
    display: flex;
    box-shadow: 0px 0px 10px 1px rgba(173, 169, 165, 0.7);
    border-radius: 10px;
    overflow: hidden;
    input{
        width: 100%;
        height: 100%;
        border: none;
        text-decoration: none;
        padding: 5px;
    }
}

.news-form_discr{
    margin: 5px 0;
    opacity: .5;
}

.btn-action{
    background-color: #7c5050;
}

.news-item{
    margin-top: 40px;
    text-align: center;
    padding-bottom: 50px;
}

.news-item_title{
    font-size: 35px;
    line-height: 35px;
}

.news-item_extra-info{
    margin: 0 40px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info{
        text-align: left;
        opacity: .7;
    }
}

.news-item_text{
    word-break: break-all;
}

.news-list{
    .block{
        display: block;
    }
    .block:nth-child(even){
        box-shadow: none;
        background-color: transparent;
    }
}

.news-list_item{
    display: flex;
    span{
        font-size: 16px;
        line-height: 16px;
    }
    .item_info{
        display: flex;
        .item_info_id,
        .item_info_title{
            margin-right: 20px;
        }
    }
    .item_anons{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.create-form{
    margin-top: 40px;
}

/* NEWS page end */

